.title{
    text-align: center;
    font-size: 3rem;
    text-shadow: 15px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}


.root{
    background-image: url("https://i.pinimg.com/originals/e4/61/fe/e461fe992f98a2bec34304fc558ee580.jpg");
}